version: '3.5'
services:
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: simple_project
    volumes:
      - ./database/db.sql:/docker-entrypoint-initdb.d/db.sql
      - mysql_data:/var/lib/mysql
    ports:
      - "3036:3306"

  backend:
    build: ./backend
    depends_on:
      - db
    ports:
      - 8000:80

volumes:
  mysql_data:
